* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container  {
    max-width: 1150px;
    margin: auto;
    width: 90%;
}

.grid-container {
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    'header header header'
    'nav nav nav'
    'main main aside'
    'footer footer footer';

}

/* Header




*/

header {
    color: white;
    padding: 40px;
    background-color: gray;
    grid-area: header;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    font-size: 2rem;
}

.header-list {
    display: flex;
    list-style: none;

}

.header-list-link {
    margin-left:30px ;
}

/* 


Navigation

*/

nav {
    color: white;
    padding: 40px;
    background-color: blue;
    grid-area: nav;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.nav-link {
    color: black;
    text-decoration: none;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    transition: color .2s ease-in;
    text-transform: uppercase;
}

.nav-link:hover {
    color: white;
}

/* 


Main content


*/

main {
    color: white;
    padding: 40px;
    background-color: orange;
    grid-area: main;
}

.image-itself {
    width: 500px;
    margin-top: 1rem;

}

.main-text {
    line-height: 1.5;
    margin-top: 1.5rem;
    font-size: 20px;
}

.readmore {
    margin-top: 1rem;
    border: solid 3px black;
    width: 120px;
    padding: 1rem;
    background-color: purple;
}

.readmore-link {
    color: white;

}

/* 



ASIDE




*/
aside {
    color: white;
    padding: 40px;
    background-color: purple;
    grid-area: aside;
}

.aside-header {
    margin-bottom: 1rem;
    font-size: 28px;
}

.aside-header-background {
    background-color: #2e2e2e;
    padding: 2rem;
}

.aside-form {
    margin-bottom: 1rem;

}

.aside-label {
    font-size: 25px;
}

.aside-text {
    font-size: 20px;
    margin-top: 1rem;
}


#email {
    border-radius: 8px;
    padding: .6rem;
    font-size: 20px;
}

.aside-list {
    margin-top: 2rem;
    list-style: none;
}

.aside-links {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    transition: color .2s ease-in;
}

.aside-links:hover {
    color: yellow;
}

.aside-submit {
    padding: .2rem;
    font-size: 20px;
    margin-top: 1rem;
    border-radius: 8px;

}

.aside-category-header {
    font-size: 28px;
    margin-top: 2rem;
}

/* 



FOOTER



*/

footer {
    color: white;
    padding: 40px;
    background-color: red;
    grid-area: footer;
}

.copyright-text {
    text-align: center;
}

/*



Media Queries



*/


@media (max-width:900px) {
    .grid-container {
    grid-template-areas: 
    'header'
    'nav'
    'main'
    'aside'
    'footer';

}

.container  {
    max-width: 100%;
    width: 100%;
}
}